@import '../../../assets/styles/_colors';

#sponsoring {

  .hidden-lg {
    display: none;
  }

  .logocolumn {
    background-color: $sponsorsBackground;

    img {
      width: 160px;
    }
  }

  .sidebar {
    text-align: right;

    @media(max-width: 767px) {
      text-align: center;
    }
    .btn {
      width: 160px;
      margin-bottom: 15px;
    }
  }

  .sponsor-empty {
    font-size: 1.2em;
    color: $headerLight;
    margin-bottom: 30px;
  }
}