@charset "UTF-8";

#history {
  .card {
    margin-bottom: 1.5em;
  }
  .year-2011 {
    color: darkred;
  }

  .year-2012 {
    color: darkgreen;
  }

  .year-2013 {
    color: blue;
  }

  .year-2014 {
    color: grey;
  }

  .year-2015 {
    color: #5d4cdc;
  }

  .year-2016 {
    color: #b57b9a;
  }

  .year-2017 {
    color: darkcyan;
  }
}
