@import '_colors.scss';

h1 {
    padding-top: .2em;
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: 700;
    font-size: 5.5em;
    color: inherit;
    text-align: center;

    @media(max-width: 767px) {
        font-size: 3em;
    }
}

h2 {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: 400;
    font-size: 2em;
    color: inherit;
    text-align: center;

    @media(max-width: 767px) {
        font-size: 1.5em;
    }
}

h3 {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: 400;
    font-size: 2em;
    color: inherit;
    text-align: center;

    @media(max-width: 767px) {
        font-size: 1.5em;
    }
}

h4 {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: 400;
    font-size: 1.5em;
    color: inherit;
    text-align: left;

    @media(max-width: 767px) {
        font-size: 1.2em;
    }
}

p {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: normal;
    font-size: 1.2em;

    @media(max-width: 767px) {
        font-size: 1em;
    }
}

ul {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: normal;
    font-size: 1.2rem;
    @media(max-width: 767px) {
        font-size: 1em;
    }
}

.btn {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: normal;
}